#container_experience {
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  /* justify-content: space-around; */
}

.timeline {
  margin: 0 10vw; 
  padding-top: 50px; 
  padding-bottom: 10px; /* Space for extending the line beyond the last circle */
}

.event {
  position: relative;
  margin-bottom: 3rem;
}

.event_time_period {
  margin-left: auto;
  margin-block: 0;
  color: rgb(200, 200, 200);
}

.container_event {
  width: 70vw;
  margin-bottom: 1rem;
  padding: 30px;
  border-radius: 20px;
  background: linear-gradient(121deg, rgba(255, 255, 255, 0.07) -12.02%, rgba(255, 255, 255, 0.01) 87.55%);
  backdrop-filter: blur(7.8px);
  border: 1px solid rgb(61, 61, 61);
}

.container_event::before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: 20px; /* Match your container's border-radius */
  background: linear-gradient(121deg, rgba(255, 255, 255, 0.07) -12.02%, rgba(9, 9, 9, 0.07) 87.55%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.container_event:hover::before {
  opacity: 1;
}

.container_event_header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container_event_header_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Styles for smaller screens - adjust 768px as needed */
@media (max-width: 650px) {
  .container_event_header {
    flex-direction: column;
    align-items: flex-start; /* Align items to the start in column mode */
  }

  .event_time_period {
    margin-left: 0; /* Remove left margin */
  }

  .container_event_header img {
    margin-bottom: 0.5rem; /* Add some space below the image */
  }

  .container_event_header p:first-of-type { /* Targets "Disco!" */
    padding-left: 0; /* Remove padding when in column */
    margin-bottom: 0.5rem; /* Add some space below the name */
  }

  .container_event_header .date-text {
    margin-left: 0; /* Remove the auto margin */
    /* You might want to adjust font size or color for smaller screens too */
  }
}