/* ------------- Canvas ------------- */
.landing_transitions {
  position: absolute; /* Ensures it overlays the content */
  top: 0;
  left: 0;
  width: 100%; /* Matches the width of the parent */
  height: 100%; /* Matches the height of the parent */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, black 100%);
  pointer-events: none; /* Prevents interaction with the vignette */
  z-index: 3; /* Places it behind the content */
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Place canvas behind other content */
}