#container_mobileheader {
  display: none;
}

.line {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

@media screen and (max-width: 768px) {
/* @media screen and (max-width: 2000px) { */
  #button_sidebartoggle {
    display: block;
    position: sticky;
    top: 0;
    z-index: 20;
    margin-left: auto;
    background-color: black;
    border: none;
    cursor: pointer;
    margin-right: 10%;
  }

  #img_desktop_logo {
    display: none;
  }

  #container_mobileheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    background: #000000;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 30;
  }

  #container_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  #container_header.active {
    transform: translateX(0);
  }

  /* .container_buttonheader {
    display: none;
  } */
  
}